Package: com.ns.wechat
Name: nsforwechat
Depends: mobilesubstrate, firmware (>= 7.0)
Architecture: iphoneos-arm
Description: WeChat elf!微信插件！
Maintainer: liu
Author: liu
Section: Tweaks
Homepage: www.nashi.com
Version: 1.2
Installed-Size: 136
