Package: com.ns.awrobot
Name: 那是助手
Depends: mobilesubstrate, firmware (>= 7.0), com.rpetrich.rocketbootstrap (>= 1.0.2) | firmware (<< 7.0)
Architecture: iphoneos-arm
Description: 口袋里面的精灵!
Maintainer: mark
Author: mark
Section: Utilities
Version: 1.0.0
Installed-Size: 736
