Package: com.ns.awrobot
Name: 那是助手
Depends: mobilesubstrate, firmware (>= 7.0), com.rpetrich.rocketbootstrap (>= 1.0.2) | firmware (<< 7.0)
Version: 1.0.0
Architecture: iphoneos-arm
Description: 口袋里面的精灵!
Icon: file:///Applications/AwRobot.app/AppIcon60x60.png
Maintainer: mark
Author: mark
Section: Utilities
